@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Teko:wght@300..700&display=swap');

.reg-page-wrapper {
    background-image: url("../Media/Registration-page.png");
    background-size: cover ;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Orbitron;
}

nav {
    margin:0 3rem;
    display: flex;
    flex-direction: row;
    color:#fff;
    justify-content: space-between;
    align-self: stretch;
}

nav .our-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.5rem;
    padding:1rem;
}

nav .login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.5rem;
    padding:1rem;
}

nav h2 {
    margin:0.7rem;
}

.reg-page-wrapper form {
    margin-top:2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../Media/Reg-form-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1.2rem;
    border: 0.1rem solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(35, 205, 240, 1);
}

.reg-page-wrapper form h1 {
    font-size: 2.5rem;
    color:#fff;
    font-weight: 100;
    text-shadow:
    -1.5px -1.5px 0 #F0790C,
    1.5px -1.5px 0 #F0790C,
    -1.5px 1.5px 0 #F0790C,
    1.5px 1.5px 0 #F0790C;
    text-align: center;
}

.reg-page-wrapper form label {
    color:#F0790C;
    padding: 0.2rem;
    font-family: Teko;
    text-align: left;
    align-self:center;
    align-self: stretch;
}

.reg-page-wrapper form input {
    background-color: transparent;
    border:0.1rem solid #fff;
    box-shadow: 0 0 15px #F0790C;
    border-radius: 0.3rem;
    color: #fff;
    font-family: Teko;
    align-self: stretch;
}

.reg-page-wrapper form button {
    display: inline-block;
    font-size: 1.2rem;
    font-family: Teko;
    border:0.1rem solid #fff;
    box-shadow: 0 0 10px rgba(35, 205, 240, 1);
    border-radius: 0.5rem;
    color:#23CDF0;
    background-color: transparent;
    text-align: center;
    padding:0.1rem 0.4rem;
    margin:0.2rem;
    margin-top:1rem;
    flex-shrink: 0;
    cursor:pointer;
}
