@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Teko:wght@300..700&display=swap");

.reg-page-main-wrapper {
  background-image: url("../Media/Registration-bg.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.reg-page-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 1rem;
  font-family: Orbitron;
}

.reg-page-wrapper img {
  width: 22.5vw;
  height: 60vh;
  margin: 3rem;
}

.reg-page-wrapper form {
  background-color: #02264e;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: 0.1rem solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(35, 205, 240, 1);
}

.reg-page-wrapper form h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 100;
  text-shadow: -1.5px -1.5px 0 #f0790c, 1.5px -1.5px 0 #f0790c,
    -1.5px 1.5px 0 #f0790c, 1.5px 1.5px 0 #f0790c;
  text-align: center;
}

.reg-page-wrapper form label {
  color: #f0790c;
  padding: 0.2rem;
  font-family: Teko;
  text-align: left;
  align-self: center;
  align-self: stretch;
}

.reg-page-wrapper form input {
  background-color: transparent;
  border: 0.1rem solid #fff;
  box-shadow: 0 0 15px #f0790c;
  border-radius: 0.3rem;
  color: #fff;
  font-family: Teko;
  align-self: stretch;
}

.reg-page-wrapper form button {
  display: inline-block;
  font-size: 1.2rem;
  font-family: Teko;
  border: 0.1rem solid #fff;
  box-shadow: 0 0 10px rgba(35, 205, 240, 1);
  border-radius: 0.5rem;
  color: #23cdf0;
  background-color: transparent;
  text-align: center;
  padding: 0.1rem 0.4rem;
  margin: 0.2rem;
  margin-top: 1rem;
  flex-shrink: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.reg-page-wrapper form button:hover {
  background-color: #f0790c;
  color: #02264e;
  box-shadow: 0 0 20px rgba(240, 121, 12, 0.8);
  transform: scale(1.05);
}
